@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?dmbbdp');
    src:  url('../fonts/icomoon.eot?dmbbdp#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?dmbbdp') format('truetype'),
      url('../fonts/icomoon.woff?dmbbdp') format('woff'),
      url('../fonts/icomoon.svg?dmbbdp#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  

.icon-edit:before {
  content: "\e90b";
}
.icon-right:before {
  content: "\e908";
}
.icon-vip:before {
  content: "\e907";
}
.icon-pdf:before {
  content: "\e906";
}
.icon-share:before {
  content: "\e90a";
}
.icon-filter:before {
  content: "\e904";
}
.icon-round_add:before {
  content: "\e902";
}
.icon-round_check:before {
  content: "\e903";
}
.icon-back:before {
  content: "\e901";
}
.icon-search:before {
  content: "\e900";
}
.icon-dismiss:before {
  content: "\e909";
}
.icon-delete_all:before {
  content: "\e921";
}
.icon-favor:before {
  content: "\e905";
}
.icon-favor_fill:before {
  content: "\e90c";
}
.icon-no_result:before {
  content: "\e919";
}
.icon-notice:before {
  content: "\e90d";
}

