@import '../../common/style/variable.styl';
.x-nav-wrap
    line-height: 4.4rem
    height 4.4rem
    overflow hidden
    .navBtn 
        width: 6rem
        float left
        display inline-block
        text-align: center
        font-size: 1.2rem
        color $color-text
        &.navBtn-s
            font-size: 1.5rem
            font-weight: 600
            color $color-blue