@import '../../common/style/variable.styl';
@import '../../common/style/mixin.styl';
.search-bar
    display flex
    align-items center
    height 5.4rem
    padding 0 1.5rem
    border-1px($color-line)
  
    .icon-back
        margin-right 2rem
        color $color-title
        font-size: 2.2rem
    .inputBox
        flex 1
        line-height: 1.5rem
        font-size: 1.5rem
        input 
            border none 
            outline none
    .icon-dismiss
        padding: 0 1rem
        color $color-light-text
        font-size: 1.6rem