@import '../../common/style/variable.styl';
.search-wrap   
    position fixed
    top 0
    bottom 0
    left 0
    right 0
    background-color #fff
    z-index 200
    .suggest-wrap
        background-color #fff
        position fixed
        top 5.4rem
        bottom 0
        left 0
        right 0
        overflow auto
        padding 1rem 3rem
        .suggest-column
            display flex
            align-items: center
            .name
                margin-right: 2rem
                font-size: 1.5rem
                color $color-sub-title
            .code
                flex 1
                font-size: 1.2rem
                color $color-light-text
            .icon-round_check
                font-size: 2rem
                color $color-light-text
            .icon-round_add
                font-size: 2rem
                color $color-blue
    .search-history
        padding 0 1.5rem
        .top
            display flex
            justify-content: space-between
            align-items: center
            height 4.4rem
            .title
                font-size: 1.4rem
                color $color-title
            .icon-delete_all
                font-size: 1.4rem
                color $color-light-text
        .main
            display flex
            flex-wrap: wrap
            .main-item
                padding .8rem 0
                margin 0 0.45rem 0.9rem
                width: calc(33.3% - 0.9rem - 2px)           
                border 1px solid $color-light-blue
                border-radius: 8px
                text-align: center
                .name
                    margin-bottom .6rem
                    
                    font-size: 1.4rem
                    color $color-blue               
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                .code
                    
                    font-size: 1rem
                    color $color-light-text